<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Hobby Match prototype</title>
</head>

<body class="berichten">

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <h1>Verzonden berichten</h1>
        <article>
            <section>
                <ul>
                    <li><p>%= 1. Hobby:%</p></li>
                    <li><p>%= 1. Plaats:%</p></li>
                    <li><p>%= 1. Datum:%</p></li>
                    <li><p>%= 1. Beschrijving:%</p></li>
                    <li><p>%= 1. Afbeelding:%</p></li>
                </ul>
            </section>
        </article>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>

</html>