<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Error 404</title>
  </head>
  <body class="errorPagina">
    <h1>404</h1>
    <p>
      Deze pagina bestaat niet, probeer de pagina opnieuw te laden of ga terug
      naar de homepagina.
    </p>
    <a href="http://localhost:3000/">Ga naar home</a>
  </body>
</html>
