<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Hobby Match prototype</title>
</head>

<body class="form">

    <header>
        <%- include('partials/header.ejs') %>
    </header>

    <main>
        <article>
            <form>
                <fieldset>
                    <legend>
                        UITNODIGING
                    </legend>
                    <section>
                        <label for="hobby-select">1. Hobby:</label>
                        <select name="hobbys" id="hobby-select">
                            <option value="">--Kies een hobby--</option>
                            <option value="tuinieren">tuinieren</option>
                            <option value="reizen">reizen</option>
                            <option value="fotografie">fotografie</option>
                            <option value="lezen">lezen</option>
                            <option value="knutselen">knutselen</option>
                            <option value="koken">koken</option>
                            <option value="fitness">fitness</option>
                            <option value="verzamelobjecten">verzamelobjecten</option>
                            <option value="collectie">collectie</option>
                        </select>
                    </section>

                    <section class="inputPlaats">
                        <label for="plaats">2. Plaats:</label>
                        <input type="text" id="plaats" name="plaats">
                    </section>

                    <section>
                        <label for="datum">3. Datum:</label>
                        <input type="date" id="datum" name="trip-start" value="" min="2023-04-01" max="2024-12-30">
                    </section>

                    <section>
                        <label for="beschrijving">4. Beschrijving:</label>
                        <textarea id="beschrijving"
                        name="beschrijving">Schrijf hier jouw beschrijfing</textarea>
                    </section>

                    <section>
                        <label for="afbeelding" class="custom-file-upload">5. Afbeelding:</label>
                        <input type="file" id="afbeelding" name="afbeelding" accept="image/png, image/jpeg">
                    </section>

                    <div>
                        <input type="submit" value="Verstuur">
                    </div>

                </fieldset>
            </form>
        </article>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>

</html>