/* *************/
/* Font */
/**************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: 'poppings', sans-serif;
  margin: 0;
  padding: 0;
  border-style: none;
}

button, summary {
    cursor: pointer;
}





/**************/
/* Root */
/**************/

:root {
    --main: #0A2232;
    --knop: #47989B;
    --font: #E1EEE7;
    --bg: #E1EEE7;
    --white: #FFFFFF;
    --green: #00d42e;
}

/**************/
/* Basis styling */
/**************/

body {
    background-color: var(--bg);
}

label, select, select, input, textarea, input[type="file"]{
    font-size: 1.5em;
    color: var(--font);
    margin: 0;
    padding: 0;
}





/**************/
/* Header */
/**************/

header {
    display: flex;
    justify-content: center;
    justify-items: baseline;
    background-color: var(--main);
    padding: 1em 2em 1em 2em;
    border-bottom: var(--knop) solid 4px;
}

header a {
    color: var(--font);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
}

header img {
    width: 2em;
    margin-bottom: -0.45em;
}

header a:first-of-type {
    margin-right: 1em;
}





/**************/
/* Main */
/**************/

.form main h1, main h2, legend {
    color: var(--font);
    font-size: 1.5em;
    margin-top: 0.5em;
}

.form main {
    display: flex;
    justify-content: center;
}

.form main article {
    width: 50em;
}

.form main legend {
    font-weight: 800;
}

.form main label{
    margin-bottom: 0.5em;
}

.form fieldset {
    border-style: none;
}

.form main article:first-of-type {
    background-color: var(--main);
    border-radius: 0em 0em 2em 2em;
    margin: 0em 2em 10em 2em;
}

.form main section {
    margin: 2em 0em 0em 0em;
    display: flex;
    flex-direction: column;
}

.form main form {
    margin: 2em 2em 2.5em 2em;
}

.form main div {
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.form main textarea {
    border-radius: 1em;
    padding: 0.5em;
    color: var(--main); 
}

.form main div:last-of-type {
    display: flex;
    justify-content: center;
}

.form main div:last-of-type>input {
    border-radius: 2em;
    padding: 0.5em 2em 0.5em 2em;
    color: var(--font);
    background-color: var(--knop);
    border-style: none;
    font-weight: 600;
}

.form input[type="file"] {
    color: var(--knop);
}

.form select {
    color: var(--knop);
    border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
}

.form input[type="text"], input[type=date] {
    border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
    color: var(--knop);
}

.form input[type="file"] {
    display: none;
}

.form button {
    color: var(--white);
    background-color: var(--knop);
    border-radius: 2em;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
}



/**************/
/* Main hover states */
/**************/

.form input[type="text"]:hover, .form select:hover, .form input[type="date"]:hover, .form main textarea:hover {
    border: var(--knop) solid 4px;
    transition: 150ms;
}

header a:hover {
    color: var(--knop);
}



/**************/
/* Footer */
/**************/

footer {
    background-color: var(--knop);
    padding: 1em 2em 1em 2em;
}

footer ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    gap: 1em;
    color: var(--main);
}





/**************/
/* Error Pagina */
/**************/

.errorPagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.errorPagina h1 {
    font-size: 8em;
    color: var(--main);
}

.errorPagina p {
    color: var(--main);
    font-size: 2em;
}

.errorPagina a {
    margin-top: 2em;
    border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--white);
    color: var(--knop);
    text-decoration: none;
    font-size: 2em;
}





/**************/
/* berichten */
/**************/

.berichten main>article {
    background-color: var(--main);
    border-radius: 2em;
    margin: 2em 2em 10em 2em;
    width: 30em;
}

.berichten>main h1 {
    margin-left: 1em;
    color: var(--main);
}






/**************/
/* ingevuld & uit */
/**************/

.ingevuld {
    border: var(--green) solid 4px;
}

.uit {
    display: none;
}